* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
body {
  background-color: rgb(46, 46, 46);
}
/*------------------------Header & Nav section--------------*/
header {
  height: 100vh;
  background: rgb(46, 46, 46);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
.nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.nav ul {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 45%;
}
.nav ul li {
  display: inline-block;
  list-style: none;
  padding: 20px 30px;
  background-color: rgba(128, 128, 128, 0.185);
  border-radius: 20px;
  margin-right: 18px;
  font-size: 25px;
  font-weight: bold;
  transition: 0.5s;
}
.nav ul li:hover {
  background-color: rgba(32, 32, 32, 0.521);
  box-shadow: 2px 2px 2px lightgray;
}

.navigation {
  text-decoration: none;
  color: white;
}
.navigation:checked {
  color: yellow;
}

/*-------------------------Hero section-------------------*/
.hero {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.hero-box {
  width: 40%;
  margin-top: 70px;
}
.msg-box {
  font-size: 45px;
  padding: 10px 10px 20px 0px;
}
.fa-code {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 50px;
  font-weight: 700;
  color: rgb(226, 95, 50);
}
.prince {
  font-size: 35px;
  font-weight: 800;
}
.fa-crown {
  color: gray;
}
.hero-box h1 {
  color: white;
  font-size: 40px;
  line-height: 60px;
  padding-left: 30px;
  margin-top: 10px;
}
.mern {
  font-size: 35px;
}
.M {
  color: rgb(89, 151, 54);
}
.E {
  color: rgb(158, 157, 157);
}
.R {
  color: rgb(1, 215, 254);
}
.N {
  color: rgb(109, 174, 69);
}
.hero-box img {
  width: 350px;
  margin-left: 50px;
  border-radius: 50px;
  transition: 0.5s;
}
.hero-box img:hover {
  border-radius: 50%;
}
/*-----------------------------project section---------------*/
.project {
  min-height: 100vh;
  background: rgb(46, 46, 46);
  position: sticky;
  top: 100vh;
  left: 0;
  z-index: 1;
  /* padding-top: 100vh; */
}
.project-head {
  color: white;
  font-size: 35px;
  font-weight: 700;
  padding: 40px 10px;
  text-align: center;
}
.fa-angles-left,
.fa-angles-right,
.fa-exclamation {
  color: rgba(79, 247, 79, 0.658);
}
.project-1 {
  padding-top: 50px;
  padding-bottom: 20px;
  margin: 20px 20px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  border: 2px solid white;
  background-color: rgb(83, 82, 82);
  border-radius: 20px;
}
.container-1 {
  height: 300px;
  width: 40%;
  color: white;
  line-height: 45px;
}
.notesk {
  text-align: center;
  color: rgb(42, 170, 239);
}

.container-1 h2 {
  font-size: 35px;
  padding: 10px 10px;
}
.container-1 p {
  font-size: 20px;
}

.container-1 img {
  height: 300px;
  width: 100%;
  border-radius: 20px;
  border: 5px solid gray;
}
.container-1 img:hover {
  transform: translate(-3px);
  box-shadow: 5px 5px 5px gray;
}
.fa-html5 {
  color: rgb(216, 73, 36);
  font-size: 22px;
  padding-right: 13px;
}
.fa-js {
  color: rgb(234, 212, 28);
  font-size: 22px;
  padding-right: 13px;
}
.fa-node {
  color: rgb(109, 161, 94);
  font-size: 25px;
}
.maleFashion {
  color: black;
  text-shadow: 2px -5px 2px rgb(175, 174, 174);
  text-align: center;
}
.fa-shopify {
  color: rgb(142, 181, 69);
  margin-left: 10px;
}
.kryptova {
  color: rgb(156, 76, 221);
  text-align: center;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-bottom-left-radius: 15px;
}
.kryptova:hover {
  transform: translateY(-5px);
  box-shadow: -4px 4px 5px rgb(190, 188, 188);
}
.fa-ethereum {
  color: rgb(48, 46, 109);
  margin-left: 10px;
  font-size: 25px;
}
/* -------------------skill section------------------------------ */
.skill {
  background: rgb(46, 46, 46);
  display: flex;
  position: absolute;
  max-height: 100vh;
  width: 100%;
}
.skillbox {
  border: 2px solid black;
  width: 30%;
  height: 300px;
  background-color: aliceblue;
}
