* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
/*------------------------Header & Nav section--------------*/
header {
  height: 100vh;
  background-image: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
}
.nav {
}
.nav ul {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 45%;
}
.nav ul li {
  display: inline-block;
  list-style: none;
  /* background-color: darkorange; */
  padding: 20px 30px;
}

.navigation {
  text-decoration: none;
  color: gray;
  font-size: 25px;
  font-weight: bold;
}
.navigation:hover {
  color: rgb(88, 86, 86);
  text-shadow: 1.2px -1.2px 1px darkgray;
}
/*-------------------------Hero section-------------------*/
.hero {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.hero-box {
  width: 40%;
}
.msg-box {
  font-size: 45px;
  padding: 10px 10px 20px 0px;
}
.fa-message {
  color: gray;
  margin: 15px;
}
.prince {
  font-size: 35px;
  font-weight: 800;
}
.fa-crown {
  color: gray;
}
.hero-box h1 {
  color: rgb(46, 46, 46);
  font-size: 30px;
  line-height: 70px;
  padding-left: 30px;
}
.mern {
  font-size: 35px;
}
.hero-box img {
  width: 300px;
  margin-left: 30px;
  border-radius: 50px;
  transition: 0.7s;
}
.hero-box img:hover {
  border-radius: 50%;
}
/*-----------------------------product section---------------*/
